
  <div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Alert ID</th>
          <th scope="col">Alert Type</th>
          <th scope="col">Breach Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alert of alerts">
          <th scope="row">
            <input type="checkbox" (click)="selectAlert($event, alert.id)"> <label>{{  alert.id }}</label></th>
          <td>
            {{ alert.type }}
          </td>
          <td>{{ alert.breachType }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="action()">Compliance Officer Action</button>
    <button (click)="forward()">Forward to Compliance Manager</button>
    <button (click)="close()">Bulk Close</button>
  </div>
</div>

